<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper" class="add_country">

<div class="container-fluid">
    <div class="row bg-title">
        <h2 class="page_heading">Add Country</h2>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="white-box"> 
                <div class="add_formarea">
                    <form   [formGroup]="addFilterForm" (ngSubmit)="onSubmit()" name="addFilterForm">               
                        <div class="row" >
                            <aside class="col-sm-10" ng-app="myApp">
                                <div class="form-group"  ng-controller="MyCtrl">
                                <label class="text-uppercase">Name</label>

                                <input class="input form-control"
                                    type="text"
                                    formControlName="countryName"
                                    [(ngModel)]="autocompleteInput"
                                    #addresstext 
                                    [ngClass]="{ 'is-invalid': submitted && f.countryName.errors }"
                                    >

                                    <div *ngIf="submitted && f.countryName.errors" class="invalid-feedback">
                                        <div *ngIf="f.countryName.errors.required">This field is required</div>
                                    </div>
                                <!-- <input [attr.value]="" class="form-control" formControlName="country_name" type="text" [ngClass]="{ 'is-invalid': submitted && f.country_name.errors }" id="testing" onfocus="geolocate(this.id)" [ngModel]="country_name">
                                    <div *ngIf="submitted && f.country_name.errors" class="invalid-feedback">
                                            <div *ngIf="f.country_name.errors.required">This field is required</div>
                                    </div> -->
                                </div>
                            </aside>
                        </div>
                        
                        <div class="row">
                                <aside class="col-sm-10">
                                    <div class="form-group">
                                            <label class="text-uppercase">Image</label>
                                            <input type="file" class="form-control" (change)="onFileChange($event)" [ngClass]="{ 'is-invalid': submitted && f.logo.errors }" />
                                            <div *ngIf="submitted && f.logo.errors" class="invalid-feedback">
                                                    <div *ngIf="f.logo.errors.required">This field is required</div>
                                            </div>
                                    </div>
                                </aside>
            
                            </div>
                            
        
                        
        
                        <div class="row">
        
                        <aside class="col-sm-5">
                            <button type="submit" id="upload" class="btn btn-danger m-l-20 hidden-xs hidden-sm waves-effect waves-light" >Add Country</button>
        
                        </aside>
                        </div>
                        </form>
                        </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
</div>
<app-footer></app-footer>
<script>
  
    
    $(function(){
        $('button').click(function(){
            $('input').val('xxx');
        })
    })
</script>
