<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">

<div class="container-fluid">
    <div class="row bg-title text-center">
        <span class="back_arrow" style="float: left;padding-top: 16px;"><a (click)="backClicked()" style="color: #000;"> <i class="fa fa-arrow-left" aria-hidden="true" style="font-size:20px ;"></i></a>
        </span>
        <h4 class="page_heading">Edit Profile</h4>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="white-box"> 
                <div class="add_formarea">
                    <form   [formGroup]="addFilterForm" (ngSubmit)="onSubmit()" name="addFilterForm" id="addFilterForm">               
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                <label class="text-uppercase">First Name</label>
                                <input id="name_input" value="" class="form-control" formControlName="first_name"  [(ngModel)]="_dataService.currentadmin.first_name" type="text" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
                                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                            <div *ngIf="f.first_name.errors.required">This field is required</div>
                                    </div>
                                    <div *ngIf="error_msg && touched" class="invalid-feedback">
                                        <div *ngIf="error_msg && touched">Empty Value is Not Valid</div>
                                    </div>
                                </div>
                            </aside>
                        </div>

                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                <label class="text-uppercase">Last Name</label>
                                <input id="name_input" value="" class="form-control" formControlName="last_name" type="text"  [(ngModel)]="_dataService.currentadmin.last_name"  [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
                                    <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                                            <div *ngIf="f.last_name.errors.required">This field is required</div>
                                    </div>
                                    <div *ngIf="error_msg2 && touched" class="invalid-feedback">
                                        <div *ngIf="error_msg2 && touched">Empty Value is Not Valid</div>
                                    </div>
                                </div>
                            </aside>
                        </div>

                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Email</label>
                                        <input value="" class="form-control " formControlName="email" type="email" [(ngModel)]="_dataService.currentadmin.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">This field is required</div>
                                        </div>
                                        <div *ngIf="error_msg3 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg3 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div>
                        <div class="row">
                                <aside class="col-sm-10">
                                    <div class="form-group">
                                            <label class="text-uppercase">Image</label>
                                            <input type="file" class="form-control" (change)="onFileChange($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
                                            <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                                                    <div *ngIf="f.image.errors.required">This field is required</div>
                                            </div>
                                    </div>
                                </aside>
            
                        </div>
        
                        <div class="row">
        
                        <aside class="col-sm-5">
                            <button type="submit" id="upload" class="blue_btn yellow_btn big_yellow text-uppercase" >Update Profile</button>
        
                        </aside>
                        </div>
                        </form>
                        </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
</div>
<app-footer></app-footer>

<script>


</script>
