<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">

<div class="container-fluid">
    <!-- <div class="row bg-title">
        <h2 class="page_heading text-center">Add Coupon</h2>
    </div> -->
    <div _ngcontent-qcb-c15="" class="row bg-title text-center"><span _ngcontent-qcb-c15="" class="back_arrow" style="float: left;padding-top: 16px;"><a _ngcontent-qcb-c15="" style="color: #000;"><i _ngcontent-qcb-c15="" aria-hidden="true" class="fa fa-arrow-left" style="font-size:20px ;">

    </i></a></span><h4 _ngcontent-qcb-c15="" class="page_heading">Add Coupon</h4></div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="white-box"> 
                <div class="add_formarea">
                    <form   [formGroup]="addFilterForm" (ngSubmit)="onSubmit()" name="addFilterForm">               
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                <label class="text-uppercase">Title</label>
                                <input value="" class="form-control" formControlName="title" type="text" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                            <div *ngIf="f.title.errors.required">Title field is required</div>
                                    </div>
                                    <div *ngIf="error_msg && touched" class="invalid-feedback">
                                        <div *ngIf="error_msg && touched">Empty Value is Not Valid</div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Headline</label>
                                        <input value="" class="form-control " formControlName="headline" type="text" [ngClass]="{ 'is-invalid': submitted && f.headline.errors }">
                                        <div *ngIf="submitted && f.headline.errors" class="invalid-feedback">
                                                <div *ngIf="f.headline.errors.required">Headline field is required</div>
                                        </div>
                                        <div *ngIf="error_msg2 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg2 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div>
                        <!-- <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Headline In Arabic</label>
                                        <input value="" class="form-control " formControlName="headline_ar" type="text" [ngClass]="{ 'is-invalid': submitted && f.headline_ar.errors }">
                                        <div *ngIf="submitted && f.headline_ar.errors" class="invalid-feedback">
                                                <div *ngIf="f.headline_ar.errors.required">This field is required</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div> -->
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Code</label>
                                        <input value="" class="form-control " formControlName="code" type="text" [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                                        <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                                <div *ngIf="f.code.errors.required">Code field is required</div>
                                        </div>
                                        <div *ngIf="error_msg3 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg3 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div>
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Discount</label>
                                        <input value="" class="form-control " formControlName="discount" type="number" [ngClass]="{ 'is-invalid': submitted && f.discount.errors }">
                                        <div *ngIf="submitted && f.discount.errors" class="invalid-feedback">
                                                <div *ngIf="f.discount.errors.required">Discount field is required</div>
                                        </div>
                                        <div *ngIf="error_msg4 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg4 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div>
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Description</label>
                                        <input value="" class="form-control " formControlName="description" type="text" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                                <div *ngIf="f.description.errors.required">Description field is required</div>
                                        </div>
                                        <div *ngIf="error_msg5 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg5 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div>
                        <!-- <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Description In Arabic</label>
                                        <input value="" class="form-control " formControlName="description_ar" type="text" [ngClass]="{ 'is-invalid': submitted && f.description_ar.errors }">
                                        <div *ngIf="submitted && f.description_ar.errors" class="invalid-feedback">
                                                <div *ngIf="f.description_ar.errors.required">This field is required</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div> -->
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Store Link</label>
                                        <input value="" class="form-control " formControlName="store_link" type="text" [ngClass]="{ 'is-invalid': submitted && f.store_link.errors }">
                                        <div *ngIf="submitted && f.store_link.errors" class="invalid-feedback">
                                                <div *ngIf="f.store_link.errors.required">Store Link field is required</div>
                                        </div>
                                        <div *ngIf="error_msg6 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg6 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div>
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group main_select ">
                                        <label class="text-uppercase">Is Featured</label>
                                        <select formControlName="is_featured" >
                                            <option value="">Options</option>
                                            <option value="True">TRUE</option>
                                            <option value="False">FALSE</option>
                                        </select>
                                        <div *ngIf="submitted && f.is_featured.errors" class="invalid-feedback">
                                                <div *ngIf="f.is_featured.errors.required">Is Featured field is required</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div>
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Video Link</label>
                                        <input value="" class="form-control " formControlName="video_link" type="text" [ngClass]="{ 'is-invalid': submitted && f.video_link.errors }">
                                        <div *ngIf="submitted && f.video_link.errors" class="invalid-feedback">
                                                <div *ngIf="f.video_link.errors.required">Video Link field is required</div>
                                        </div>
                                        <div *ngIf="error_msg7 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg7 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div>

                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Expiry Date</label>
                                        <input value="" class="form-control " [min]="min" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="expiry_date" type="datetime" [ngClass]="{ 'is-invalid': submitted && f.video_link.errors }">
                                        <owl-date-time #dt1></owl-date-time>
                                        <div *ngIf="submitted && f.expiry_date.errors" class="invalid-feedback">
                                                <div *ngIf="f.expiry_date.errors.required">Expiry Date field is required</div>
                                        </div>
                                </div>
                            </aside>        
                        </div>

                        <div class="row">
                                <aside class="col-sm-10">
                                    <div class="form-group">
                                            <label class="text-uppercase">Image</label>
                                            <input type="file" class="form-control" (change)="onFileChange($event)" [ngClass]="{ 'is-invalid': submitted && f.logo.errors }" />
                                            <div *ngIf="submitted && f.logo.errors" class="invalid-feedback">
                                                    <div *ngIf="f.logo.errors.required">Image field is required</div>
                                            </div>
                                    </div>
                                </aside>
            
                            </div>
                            <div class="row">
                                    <aside class="col-sm-10">
                                        <div class="form-group">
                                            <div class="edit_brand_select">
                                                <label class="text-uppercase">Select Country</label>

                                                <select multiple class="custom-select" formControlName="country" *ngIf="_dataService.countrieslist">
                                                    <option value="">Choose your city</option>
                                                    <option *ngFor="let city of _dataService.countrieslist" [ngValue]="city.id" >{{city.name}}</option>
                                                </select>
                                            </div>
                                                
                                                <!-- <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }"> -->
                                                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                                        <div *ngIf="f.country.errors.required">Country field is required</div>
                                                </div>
                                        </div>
                                    </aside>
                            </div>
                            <div class="row">
                                <aside class="col-sm-10">
                                    <div class="form-group main_select">
                                            <label class="text-uppercase">Select Brand</label>

                                            <select formControlName="brand" *ngIf="_dataService.brandslist">
                                                <option value="">Choose your Brand</option>
                                                <option *ngFor="let brandd of _dataService.brandslist" [ngValue]="brandd.id" >{{brandd.name}}</option>
                                            </select>
                                            <!-- <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }"> -->
                                            <div *ngIf="submitted && f.brand.errors" class="invalid-feedback">
                                                    <div *ngIf="f.brand.errors.required">Brand field is required</div>
                                            </div>
                                    </div>
                                </aside>
                        </div>
            
        
                        
        
                        <div class="row">
        
                        <aside class="col-sm-5">
                            <button type="submit" id="upload" class="btn btn-danger big_yellow text-uppercase" >Add Coupon</button>
        
                        </aside>
                        </div>
                        </form>
                        </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
</div>
<app-footer></app-footer>

