<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title text-center">
            <div class=" col-md-12 add_country-box">
                <!-- <span class="back_arrow" style="float: left;"><a (click)="backClicked()" style="color: #000;"> <i class="fa fa-arrow-left" aria-hidden="true" style="font-size:20px ;"></i></a>
                </span> -->
                <h4 class="page-title">Countries<button class="btn btn-danger" routerLink="/country/addNew" >Add New Country</button></h4>
                <div class="clearfix"></div>

            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table row-border hover" datatable [dtOptions]="dtOptions"  *ngIf=" _dataService.is_response" >
                        
                            <thead>
                                <tr>
                                    <th style="min-width: 250px;">Id</th>
									<!-- <th  *ngIf="_dataService.countrieslist && _dataService.countrieslist.length > 0">Id</th> -->
                                    
                                    
                                    <th>Flag</th>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                <tr *ngFor="let cntry of _dataService.countrieslist ">
                                    <td>{{cntry.id}}</td>
                                    <td> <img [attr.src]= 'cntry.image == "" ? current_location+"/media/countryimages/No-image-found.jpg" : current_location+cntry.image' style="width: 12%;"/></td>
                                    <td>{{cntry.name}}</td>
                                   <!-- <td>{{cntry.image != "" ? image =cntry.image : image= "/assets/profile_image.jpg"}} <img src=""/></td> -->
                                    <td>
                                        <a  class="icons" (click)="deleteCountry(cntry.id)"><i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <div *ngIf="_dataService.countrieslist && _dataService.countrieslist.length==0"><tbody><h2>No Country Found.</h2></tbody></div>
                        </table>
                        <!--pagination-controls class="pagination" (pageChange)="currentPage=$event"></!--pagination-controls>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<app-footer></app-footer>

