<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">

<div class="container-fluid">
    <div class="row bg-title text-center">
        <!-- <span class="back_arrow" style="float: left;padding-top: 16px;"><a (click)="backClicked()"  style="color: #000;"> <i class="fa fa-arrow-left" aria-hidden="true" style="font-size:20px ;"></i></a>
        </span> -->
        <h4 class="page_heading">Notifications</h4>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row input_form-box">
        <div class="col-md-12 col-xs-12">
            <div class="white-box"> 
                <div class="add_formarea">
                    <form  class="hh" [formGroup]="addFilterForm" (ngSubmit)="onSubmit()" name="addFilterForm">               
                        <div class="row">
                            <aside class="col-md-6">
                                <div class="form-group">
                                <label class="text-uppercase">Title</label>
                                <input value="" class="form-control" maxlength="100" formControlName="title" type="text" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                    <div *ngIf="submitted && f.title.errors  && !touched " class="invalid-feedback">
                                        <div style="color: red;" *ngIf="f.title.errors.required && !touched">Title field is required</div>
                                    </div>
                                    <div *ngIf="error_msg && touched" class="invalid-feedback">
                                        <div style="color: red;" *ngIf="error_msg && touched">Empty Value is Not Valid</div>
                                    </div>
                                </div>
                            </aside>
                            <aside class="col-md-6">
                                <div class="form-group">
                                <label class="text-uppercase">Title in Arabic</label>
                                <input value="" class="form-control" maxlength="100" formControlName="title_ar" type="text" [ngClass]="{ 'is-invalid': submitted && f.title_ar.errors }">
                                    <div *ngIf="submitted && f.title_ar.errors && !touched" class="invalid-feedback">
                                            <div style="color: red;" *ngIf="f.title_ar.errors.required && !touched">Title in Arabic field is required</div>
                                    </div>
                                    <div *ngIf="error_msg2 && touched" class="invalid-feedback">
                                        <div style="color: red;" *ngIf="error_msg2 && touched">Empty Value is Not Valid</div>
                                    </div>
                                </div>
                            </aside>
                            <aside class="col-md-6">
                                <div class="form-group">
                                        <label class="text-uppercase">Description</label>
                                        <input value="" class="form-control " maxlength="150" formControlName="description" type="textarea" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                        <div *ngIf="submitted && f.description.errors && !touched" class="invalid-feedback">
                                                <div style="color: red;" *ngIf="f.description.errors.required && !touched">Description field is required</div>
                                        </div>
                                        <div *ngIf="error_msg3 && touched" class="invalid-feedback">
                                            <div style="color: red;" *ngIf="error_msg3 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
                            <aside class="col-md-6">
                                <div class="form-group">
                                        <label class="text-uppercase">Description in Arabic</label>
                                        <input value="" class="form-control " maxlength="150" formControlName="description_ar" type="textarea" [ngClass]="{ 'is-invalid': submitted && f.description_ar.errors }">
                                        <div *ngIf="submitted && f.description_ar.errors && !touched" class="invalid-feedback">
                                                <div style="color: red;" *ngIf="f.description_ar.errors.required && !touched">Description in Arabic field is required</div>
                                        </div>
                                        <div *ngIf="error_msg4 && touched" class="invalid-feedback">
                                            <div style="color: red;" *ngIf="error_msg4 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
                            <aside class="col-md-6">
                                <div class="form-group">
                                        <label class="text-uppercase">Image</label>
                                        <input type="file" class="form-control" (change)="onFileChange($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" accept=".png, .jpg, .jpeg" />
                                        <div *ngIf="submitted && f.image.errors && !touched" class="invalid-feedback">
                                                <div style="color: red;" *ngIf="f.image.errors.required && !touched">Image field is required</div>
                                        </div>
                                </div>
                            </aside>
                            <div class="col-md-6 brand_box">
                                <div class="row"> 
                                <aside class="col-md-6">
                                    <div class="form-group">
                                            <label class="text-uppercase">Select Brand</label>    
                                            <select id='iFunction' class="custom-select" formControlName="brandId" style="width:80%!important;" (change)="getCountriesByBrand()">
                                                <option value="" selected="">Choose your Brand</option>
                                                <option *ngFor="let city of _dataService.brandslist" [ngValue]="city.id" >{{city.name}}</option>
                                            </select>
                                            <!-- <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }"> -->
                                            <div *ngIf="submitted && f.brandId.errors" class="invalid-feedback">
                                                    <div style="color: red;" *ngIf="f.brandId.errors.required">Brand field is required</div>
                                            </div>
                                    </div>
                                </aside>



                                <aside class="col-md-6">
                                    <div class="form-group" >
                                            <label class="text-uppercase">Select Country</label>
    
                                            <select id="database" name="database" class="custom-select" class="errorpopup"  formControlName="countryId" (change)="getUsersByCountry()">
                                                <option value="" selected="">Choose your country</option>
                                                <option *ngFor="let city of _dataService.countries_by_brand" [ngValue]="city.id" >{{city.name}}</option>
                                            </select>
                                            <!-- <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }"> -->
                                            <div *ngIf="submitted && f.countryId.errors && f.brandId.touched" class="invalid-feedback">
                                                    <div style="color: red;" *ngIf="f.countryId.errors.required">Country field is required</div>
                                            </div>
                                    </div>
                                </aside>
                                </div>

                            </div>
                            
                           
                        </div>                     

                        <div class="row">           
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- <div class="multiple_select_main select-user-box">
                                        <label class="text-uppercase">Select Users</label>
                                        <select multiple class="custom-select" formControlName="userId" >
                                            <option *ngFor="let city of _dataService.userslist" [ngValue]="city.id" >{{city.device_id}}</option>
                                        </select>
                                    </div> -->
                                    <div class="select_country_content notification_users" *ngIf="_dataService.userslist">
                                        <label class="text-uppercase">Select Users</label>
                                        
                                        <angular2-multiselect [data]="_dataService.userslist" 
                                            [settings]="dropdownSettings" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            formControlName="userId"
                                            (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>

                                        <!-- <angular2-multiselect [data]="_dataService.countrieslist" class="form-control" formControlName="country" [(ngModel)]="_dataService.countrieslist" 
                                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect> -->

                                        <!-- <select multiple class="custom-select" formControlName="country">
                                            <option value="">Choose your city</option>
                                            <option *ngFor="let city of _dataService.countrieslist" [ngValue]="city.id" >{{city.name}}</option>
                                        </select> -->
                                    </div>

                                    
                                        
                                        <!-- <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }"> -->
                                        <div *ngIf="submitted && f.userId.errors  && f.countryId.touched" class="invalid-feedback">
                                                <div style="color: red;" *ngIf="f.userId.errors.required">Users field is required</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
        
                        <aside class="col-sm-10">
                            <button type="submit" id="upload" class="blue_btn yellow_btn big_yellow text-uppercase red_custom_btn">Send Notification</button>
        
                        </aside>
                        </div>
                        </form>
                        </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
</div>
<app-footer></app-footer>
<style>
    .selected-list .c-list {
    height: 70px;
    overflow: auto;
}
</style>
