<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">

<div class="container-fluid">
    <div class="row bg-title text-center">
        <!-- <span class="back_arrow" style="float: left;padding-top: 16px;"><a (click)="backClicked()"  style="color: #000;"> <i class="fa fa-arrow-left" aria-hidden="true" style="font-size:20px ;"></i></a>
        </span> -->
        <h4 class="page_heading">Notifications</h4>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="white-box"> 
                <div class="add_formarea">
                    <form   [formGroup]="addFilterForm" (ngSubmit)="onSubmit()" name="addFilterForm">               
                        <div class="row">
                            <aside class="col-md-6">
                                <div class="form-group">
                                <label class="text-uppercase">Title</label>
                                <input value="" class="form-control" formControlName="title" type="text" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                    <div *ngIf="submitted && f.title.errors  && !touched " class="invalid-feedback">
                                            <div *ngIf="f.title.errors.required && !touched">This field is required</div>
                                    </div>
                                    <div *ngIf="error_msg && touched" class="invalid-feedback">
                                        <div *ngIf="error_msg && touched">Empty Value is Not Valid</div>
                                    </div>
                                </div>
                            </aside>
                            <aside class="col-md-6">
                                <div class="form-group">
                                <label class="text-uppercase">Title in Arabic</label>
                                <input value="" class="form-control" formControlName="title_ar" type="text" [ngClass]="{ 'is-invalid': submitted && f.title_ar.errors }">
                                    <div *ngIf="submitted && f.title_ar.errors && !touched" class="invalid-feedback">
                                            <div *ngIf="f.title_ar.errors.required && !touched">This field is required</div>
                                    </div>
                                    <div *ngIf="error_msg2 && touched" class="invalid-feedback">
                                        <div *ngIf="error_msg2 && touched">Empty Value is Not Valid</div>
                                    </div>
                                </div>
                            </aside>
                            <aside class="col-md-6">
                                <div class="form-group">
                                        <label class="text-uppercase">Description</label>
                                        <input value="" class="form-control " formControlName="description" type="textarea" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                        <div *ngIf="submitted && f.description.errors && !touched" class="invalid-feedback">
                                                <div *ngIf="f.description.errors.required && !touched">This field is required</div>
                                        </div>
                                        <div *ngIf="error_msg3 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg3 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
                            <aside class="col-md-6">
                                <div class="form-group">
                                        <label class="text-uppercase">Description in Arabic</label>
                                        <input value="" class="form-control " formControlName="description_ar" type="textarea" [ngClass]="{ 'is-invalid': submitted && f.description_ar.errors }">
                                        <div *ngIf="submitted && f.description_ar.errors && !touched" class="invalid-feedback">
                                                <div *ngIf="f.description_ar.errors.required && !touched">This field is required</div>
                                        </div>
                                        <div *ngIf="error_msg4 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg4 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
                            <aside class="col-md-6">
                                <div class="form-group">
                                        <label class="text-uppercase">Image</label>
                                        <input type="file" class="form-control" (change)="onFileChange($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
                                        <div *ngIf="submitted && f.image.errors && !touched" class="invalid-feedback">
                                                <div *ngIf="f.image.errors.required && !touched">This field is required</div>
                                        </div>
                                </div>
                            </aside>
                            <div class="col-md-6 brand_box">
                                <div class="row"> 

                                <aside class="col-md-6">
                                    <div class="form-group">
                                            <label class="text-uppercase">Select Country</label>
    
                                            <select class="custom-select" formControlName="countryId" >
                                                <option value="" selected="">Choose your country</option>
                                                <option *ngFor="let city of _dataService.countrieslist" [ngValue]="city.id" >{{city.name}}</option>
                                            </select>
                                            <!-- <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }"> -->
                                            <div *ngIf="submitted && f.countryId.errors" class="invalid-feedback">
                                                    <div *ngIf="f.countryId.errors.required">This field is required</div>
                                            </div>
                                    </div>
                                </aside>
                                <aside class="col-md-6">
                                    <div class="form-group">
                                            <label class="text-uppercase">Select Brand</label>    
                                            <select  class="custom-select" formControlName="brandId" >
                                                <option value="" selected="">Choose your Brand</option>
                                                <option *ngFor="let city of _dataService.brandslist" [ngValue]="city.id" >{{city.name}}</option>
                                            </select>
                                            <!-- <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }"> -->
                                            <div *ngIf="submitted && f.brandId.errors" class="invalid-feedback">
                                                    <div *ngIf="f.brandId.errors.required">This field is required</div>
                                            </div>
                                    </div>
                                </aside>
                                </div>

                            </div>
                            
                           
                        </div>                     

                            <div class="row">           
                             
                                <aside class="col-md-6">
                                    <div class="form-group">
                                        <div class="multiple_select_main select-user-box">
                                            <label class="text-uppercase">Select Users</label>
                                            <select multiple class="custom-select" formControlName="userId" >
                                                <option *ngFor="let city of _dataService.userslist" [ngValue]="city.id" >{{city.device_id}}</option>
                                            </select>
                                        </div>
                                           
                                            <!-- <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }"> -->
                                            <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                                                    <div *ngIf="f.userId.errors.required">This field is required</div>
                                            </div>
                                    </div>
                                </aside>
                            </div>
            
        
                        
        
                        <div class="row">
        
                        <aside class="col-sm-5">
                            <button type="submit" id="upload" class="blue_btn yellow_btn big_yellow text-uppercase red_custom_btn">Send Notification</button>
        
                        </aside>
                        </div>
                        </form>
                        </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
</div>
<app-footer></app-footer>
