/* .top-left-part .light-logo {
    margin: -20px 105px -29px 23px;
}
img {
    vertical-align: middle;
    width: 74%;
    height: 180%;
}

.navbar-right {

    float: right !important;
    margin: 31px 11px 10px 3px;

} */