.brands_countries ul {
    list-style: none;
    padding: 0px;
}
.brands_countries ul li span {

    width: 75px;
    height: 75px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
    border: 2px solid #ddd;
}
.brands_countries ul li span img {

    width: 40px;
    margin: 23px 0px 0px 16px;

}
.pagination /deep/ .ngx-pagination .current {
    background: #c2272b;
  }

  .pagination /deep/ .ngx-pagination li {
    border: 1px solid #CCCC;
    margin-right: 0px;
  }

   .pagination /deep/ .ngx-pagination a::after{
     display: none;
   }

   .pagination /deep/ .ngx-pagination li::before{
     display: none;
   }

    .pagination /deep/ .ngx-pagination li::after{
     display: none;
   }

    .pagination /deep/ .ngx-pagination a::before{
     display: none;
   }