<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title text-center">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <span class="back_arrow" style="float: left;"><a href="" style="color: #000;"> <i class="fa fa-arrow-left" aria-hidden="true" style="font-size:20px ;"></i></a>
                </span>
                <h4 class="page-title">Brands List</h4>
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                <button class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" routerLink="/addbrand/new" >Add New</button>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <!-- <h3 class="box-title"></h3>-->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Url</th>
                                    <th>Countries</th>
                                    <th>Coupons</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of _dataService.brandslist| paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage,totalItems:totalItems }; let myIndex = index">
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.url}}</td>
                                    <td class="brands_countries">
                                        <ul *ngFor="let country of item.brand_countries; let myIndex1 = index1">
                                        <li><span> <img [attr.src]= 'country.image == "" ? current_location+"/media/countryimages/No-image-found.jpg" : current_location+country.image'/></span> {{country.name}}</li> 
                                        </ul>
                                    </td>
                                    <td class="brands_countries">
                                        <ul  *ngFor="let coupon of item.brand_coupons; let myIndex2 = index2">
                                        <li>{{coupon.code}}</li>
                                        </ul>
                                    </td>
                                    <td><button (click)="editBrand(item.id)" >Edit</button  ><button (click)="deleteBrand(item.id)">Delete</button></td>
                                </tr>
                            </tbody>
                            <div *ngIf="_dataService.brandslist && _dataService.brandslist.length==0"><tbody><h2>No Brands Found.</h2></tbody></div>
                        </table>
                        <pagination-controls class="pagination" (pageChange)="currentPage=$event"></pagination-controls>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
   
    
</div>

<app-footer>
    
</app-footer>
