<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            <li style="padding: 70px 0 0;">
                <!-- <a  routerLink="/dashboard" id="dashboard_sidebar" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a> -->
                <a href="/dashboard" id="dashboard_sidebar" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
            </li>
            <li>
                <!-- <a routerLink="/brands" id="brand_sidebar" class="waves-effect"><i class="fa fa-tags" aria-hidden="true"></i>
                    Brands</a> -->
                    <a href="/brands" id="brand_sidebar" class="waves-effect"><i class="fa fa-tags" aria-hidden="true"></i>
                        Brands</a>
            </li>
            <li>
                <!-- <a routerLink="/sendnotifications" id="notification_sidebar" class="waves-effect"><i class="fa fa-bell" aria-hidden="true"></i>
                    Notifications</a> -->
                    <a href="/sendnotifications" id="notification_sidebar" class="waves-effect"><i class="fa fa-bell" aria-hidden="true"></i>
                        Notifications</a>
            </li>
            <li>
                <!-- <a routerLink="/contactus" id="contact_sidebar" class="waves-effect"><i class="fa fa-phone" aria-hidden="true"></i>
                    Contact Us</a> -->
                    <a href="/contactus" id="contact_sidebar" class="waves-effect"><i class="fa fa-phone" aria-hidden="true"></i>
                        Contact Us</a>
            </li>
            <li>
                <!-- <a routerLink="/country" id="country_sidebar" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Country</a> -->
                <a href="/country" id="country_sidebar" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Country</a>
            </li>
            
            <li>               
                <!-- <a routerLink="/coupon" id="coupon_sidebar" class="waves-effect"><i class="fa fa-ticket" aria-hidden="true"></i>Coupons</a> -->
                <a href="/coupon" id="coupon_sidebar" class="waves-effect"><i class="fa fa-ticket" aria-hidden="true"></i>Coupons</a>
            </li>
            <li>
                <!-- <a routerLink="/requests" id="request_sidebar" class="waves-effect"><i class="fa fa-file-text" aria-hidden="true"></i>Requests</a> -->
                <a href="/requests" id="request_sidebar" class="waves-effect"><i class="fa fa-file-text" aria-hidden="true"></i>Requests</a>
            </li>
            <li>
                <!-- <a routerLink="/social" id="social_sidebar" class="waves-effect"><i class="fa fa-globe" aria-hidden="true"></i>Social</a> -->
                <a href="/social" id="social_sidebar" class="waves-effect"><i class="fa fa-globe" aria-hidden="true"></i>Social</a>
            </li>

        </ul>
    </div>
    
</div>