<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Coupons List</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <button class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" routerLink="/coupon/addNew" >Add New</button>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Coupons</h3>
                    <div style="float: right;">
                        <form   [formGroup]="addFilterForm" (ngSubmit)="filterCoupon()" name="addFilterForm"> 
                            <select class="custom-select" formControlName="country" (change)="changeCity($event)">
                                <option value="">Choose your Country</option>
                                <option *ngFor="let city of _dataService.countrieslist" [ngValue]="city.id" >{{city.name}}</option>
                            </select>


                            <select class="custom-select" formControlName="brand" (change)="changeCity($event)">
                                <option value="">Choose your Brand</option>
                                <option *ngFor="let city of _dataService.brandslist" [ngValue]="city.id" >{{city.name}}</option>
                            </select>
                            <!-- <button type="submit" id="upload" class="blue_btn yellow_btn big_yellow text-uppercase" >Search Coupon</button> -->
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>CouponCode</th>
                                    <th>Brand</th>
                                    <th>Country</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let coup of _dataService.couponslist; let myIndex = index">
                                <tr>
                                    <td>{{coup.id}}</td>
                                    <td>{{coup.code}}</td>
                                    <td class="brand">
                                        <ul *ngFor="let brandss of coup.brand; let myIndex1 = index1">
                                        <li>{{brandss.name}}</li> 
                                        </ul>
                                    </td>
                                    <td class="coupon_countries">
                                        <ul *ngFor="let country of coup.coupon_countries; let myIndex1 = index1">
                                        <li>{{country.name}}</li> 
                                        </ul>
                                    </td>
                                    <td><button (click)="ViewCoupon(coup.id)" >View</button> <button (click)="editCoupon(coup.id)" >Edit</button  ><button (click)="deleteCoupon(coup.id)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

<app-footer></app-footer>


