.pagination /deep/ .ngx-pagination .current {
    background: red;
  }

  .pagination /deep/ .ngx-pagination li {
    border: 1px solid #CCCC;
    margin-right: 0px;
  }

   .pagination /deep/ .ngx-pagination a::after{
     display: none;
   }

   .pagination /deep/ .ngx-pagination li::before{
     display: none;
   }

    .pagination /deep/ .ngx-pagination li::after{
     display: none;
   }

    .pagination /deep/ .ngx-pagination a::before{
     display: none;
   }

.filters {
    margin: 0px 0 0 0;
  }
  .costommm_select .filters  {
    float: inherit;
  }

  .costommm_select .filters select {
    height: 38px;
  }