<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title text-center">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12"></div>
            <!-- <span class="back_arrow" style="float: left;padding-top: 16px;"><a (click)="backClicked()" style="color: #000;"> <i class="fa fa-arrow-left" aria-hidden="true" style="font-size:20px ;"></i></a>
            </span> -->
            <h4 class="page_heading">Contact Us List</h4>
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <!-- <h3 class="box-title">Contact Us List</h3> -->
                    <div class="table-responsive">
                        <table class="table row-border hover" datatable [dtOptions]="dtOptions"  *ngIf=" _dataService.is_response" >
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="myTable" *ngFor="let item of _dataService.brandslist">
                                <tr >
                                    <td>{{item.id}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.subject}}</td>
                                    <td>{{item.message}}</td>
                                    <!-- <td><button (click)="editBrand(item.id)" >Send Response</button  ></td> -->
                                    <td><button type="button"  data-toggle="modal" [attr.data-target]="'#exampleModal' + item.id">
                                        Send Response
                                          </button>
                                    </td>
                                </tr>
                            

                                <!-- Modal Start -->
                                <div class="modal fade" [attr.id]="'exampleModal' + item.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header model_close">
                                        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body" >
                                            <form [formGroup]="addFilterForm" (ngSubmit)="onSubmit()" name="addFilterForm"> 
                                                <input [ngModel]="item.email" class="form-control" formControlName="email" type="hidden" >
                                                <div class="row">
                                                    <aside class="col-sm-10">
                                                        <div class="form-group">
                                                        <label class="text-uppercase">Response</label>
                                                        <input value="" class="form-control" formControlName="response" type="text" [ngClass]="{ 'is-invalid': submitted && f.response.errors }">
                                                            <div *ngIf="submitted && f.response.errors" class="invalid-feedback">
                                                                    <div *ngIf="f.response.errors.required">This field is required</div>
                                                            </div>
                                                        </div>
                                                    </aside>
                                                </div>
                                                <div class="row">
        
                                                    <aside class="col-sm-5 button_box">
                                                        <button type="submit" id="upload" class="blue_btn yellow_btn big_yellow text-uppercase btn-danger" >Send Response</button>
                                    
                                                    </aside>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!-- Modal End -->

                            </tbody>
                            <div *ngIf="_dataService.brandslist && _dataService.brandslist.length==0"><tbody><h2>No Contact Us Found.</h2></tbody></div>
                        </table>
                        <!--pagination-controls class="pagination" (pageChange)="currentPage=$event"></!--pagination-controls> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>




<app-footer></app-footer>
