<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">

<div class="container-fluid">
    <div class="row bg-title text-center">
            <span class="back_arrow" style="float: left;padding-top: 16px;"><a  (click)="backClicked()" style="color: #000;"> <i class="fa fa-arrow-left" aria-hidden="true" style="font-size:20px ;"></i></a>
            </span>
            <h4 class="page_heading">Edit Brand</h4>
        </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="white-box"> 
                <div class="add_formarea">
                    <form   [formGroup]="addFilterForm" (ngSubmit)="onSubmit()" name="addFilterForm" enctype="multipart/form-data">               
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                <label class="text-uppercase">Name</label>
                                <input class="form-control" maxlength="100" formControlName="name" type="text"  [(ngModel)]="_dataService.branddetail.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <div *ngIf="submitted && f.name.errors && !touched" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required && !touched">Name field is required</div>
                                    </div>
                                    <div *ngIf="error_msg && touched" class="invalid-feedback">
                                        <div *ngIf="error_msg && touched">Empty Value is Not Valid in Name Field</div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Website Url </label>
                                        <input value="" maxlength="200" class="form-control " formControlName="website_url"  [(ngModel)]="_dataService.branddetail.url" type="text" [ngClass]="{ 'is-invalid': submitted && f.website_url.errors }">
                                        <div *ngIf="submitted && f.website_url.errors && !touched" class="invalid-feedback">
                                                <div *ngIf="f.website_url.errors.required && !touched">Website Url field is required</div>
                                        </div>
                                        <div *ngIf="error_msg2 && touched" class="invalid-feedback">
                                            <div *ngIf="error_msg2 && touched">Empty Value is Not Valid</div>
                                        </div>
                                </div>
                            </aside>
        
                        </div>
                        <div class="row">
                                <aside class="col-sm-10">
                                    <div class="form-group">
                                            <label class="text-uppercase">Image</label>
                                            <input type="file" class="form-control" [(ngModel)]="_dataService.branddetail.image" (change)="onFileChange($event)" [ngClass]="{ 'is-invalid': submitted && f.logo.errors }" [ngModelOptions]="{standalone: true}" />
                                            <div *ngIf="submitted && f.logo.errors" class="invalid-feedback">
                                                    <div *ngIf="f.logo.errors.required">Image field is required</div>
                                            </div>
                                    </div>
                                </aside>
            

                            </div>
                            <div class="row">
                                <aside class="col-sm-10">
                                    <div class="form-group">
                                        <div class="edit_brand_select">
                                            <label class="text-uppercase">Select Country</label>
                                            <select multiple class="custom-select" formControlName="country" [(ngModel)]="_dataService.brandcountries">
                                                <option value="">Choose your city</option>
                                                <option *ngFor="let city of _dataService.countrieslist" [ngValue]="city.id" >{{city.name}}</option>
                                            </select>
                                        </div>
                                            <!-- <label class="text-uppercase">Select Country</label>
                                            <select multiple class="custom-select" formControlName="country" [(ngModel)]="_dataService.brandcountries">
                                                <option value="">Choose your city</option>
                                                <option *ngFor="let city of _dataService.countrieslist" [ngValue]="city.id" >{{city.name}}</option>
                                            </select> -->
                                            <!-- <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }"> -->
                                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                                    <div *ngIf="f.country.errors.required">Country field is required</div>
                                            </div>
                                    </div>
                                </aside>
                            </div>
            
        
                        
        
                        <div class="row">
        
                        <aside class="col-sm-5">
                            <button type="submit" id="upload" class="btn btn-danger big_yellow text-uppercase" >Update Brand</button>
        
                        </aside>
                        </div>
                        </form>
                        </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
</div>
<app-footer></app-footer>

